DecisionTreeClassifier.json
[{"id":"f3f8cea6.4a5c8","type":"tab","label":"DecisionTreeClassifier","disabled":false,"info":""},{"id":"94de2e8e.2ce448","type":"inject","z":"f3f8cea6.4a5c8","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":180,"wires":[["51c02d1c.1cd7e4"]]},{"id":"9095ceb4.15864","type":"inject","z":"f3f8cea6.4a5c8","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":300,"wires":[["b7d96ef7.c36d68"]]},{"id":"c0da7eba.71dd7","type":"inject","z":"f3f8cea6.4a5c8","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":540,"wires":[["4aa3cd2f.9cd744","40e447f3.92f33"]]},{"id":"a98deb49.3de36","type":"debug","z":"f3f8cea6.4a5c8","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":180,"wires":[]},{"id":"dbdf273e.0cde68","type":"debug","z":"f3f8cea6.4a5c8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":340,"wires":[]},{"id":"e70b7a18.50c02","type":"debug","z":"f3f8cea6.4a5c8","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":260,"wires":[]},{"id":"342de929.ec6736","type":"debug","z":"f3f8cea6.4a5c8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":920,"y":580,"wires":[]},{"id":"d18601fc.639888","type":"debug","z":"f3f8cea6.4a5c8","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":460,"wires":[]},{"id":"46f70801.661bc8","type":"mqtt out","z":"f3f8cea6.4a5c8","name":"","topic":"predictions","qos":"","retain":"","broker":"6497f92e.f6437","x":860,"y":640,"wires":[]},{"id":"18e2135.ef1b1ed","type":"debug","z":"f3f8cea6.4a5c8","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":720,"wires":[]},{"id":"900b407a.43c9e","type":"mqtt in","z":"f3f8cea6.4a5c8","name":"","topic":"classification","qos":"2","datatype":"auto","broker":"6497f92e.f6437","x":270,"y":680,"wires":[["68e6f095.095fe8"]]},{"id":"51c02d1c.1cd7e4","type":"create dataset","z":"f3f8cea6.4a5c8","name":"","path":"/Users/annagk/.node-red/node_modules/node-red-contrib-machine-learning/test/testdata.data","saveFolder":"test/datasets","saveName":"temphumdata","input":"0,1,2","output":"3","trainingPartition":"","shuffle":true,"seed":"","x":470,"y":180,"wires":[["a98deb49.3de36"]]},{"id":"bb3ff681.4d4018","type":"predictor","z":"f3f8cea6.4a5c8","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":680,"y":520,"wires":[["630256f2.657838"],["342de929.ec6736"]]},{"id":"68e6f095.095fe8","type":"predictor","z":"f3f8cea6.4a5c8","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":580,"y":680,"wires":[["46f70801.661bc8"],["18e2135.ef1b1ed"]]},{"id":"b7d96ef7.c36d68","type":"load dataset","z":"f3f8cea6.4a5c8","name":"","datasetFolder":"test/datasets","datasetName":"temphumdata","partition":"train.csv","input":true,"output":true,"x":420,"y":300,"wires":[["7bccc54.6eb953c"],["dbdf273e.0cde68"]]},{"id":"4aa3cd2f.9cd744","type":"load dataset","z":"f3f8cea6.4a5c8","name":"","datasetFolder":"test/datasets","datasetName":"temphumdata","partition":"test.csv","input":false,"output":true,"x":420,"y":460,"wires":[["630256f2.657838"],["342de929.ec6736"]]},{"id":"40e447f3.92f33","type":"load dataset","z":"f3f8cea6.4a5c8","name":"","datasetFolder":"test/datasets","datasetName":"temphumdata","partition":"test.csv","input":true,"output":false,"x":420,"y":580,"wires":[["bb3ff681.4d4018"],["342de929.ec6736"]]},{"id":"630256f2.657838","type":"assessment","z":"f3f8cea6.4a5c8","name":"","score":"accuracy_score","x":720,"y":460,"wires":[["d18601fc.639888"],["342de929.ec6736"]]},{"id":"7bccc54.6eb953c","type":"decision tree classifier","z":"f3f8cea6.4a5c8","name":"decision tree classifier trainer","savePath":"test/models","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":680,"y":300,"wires":[["e70b7a18.50c02"],["dbdf273e.0cde68"]]},{"id":"6497f92e.f6437","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]