flowsDustReadingNodeRed.json
[{"id":"a2c43a59.7e2e1","type":"tab","label":"DustReadings","disabled":false,"info":""},{"id":"2a9819.1e1267e8","type":"mqtt in","z":"a2c43a59.7e2e1","name":"listent","topic":"TopicDustReads","qos":"0","datatype":"auto","broker":"51e37bca.cffec4","x":230,"y":140,"wires":[["60c6c329.ff8b7c","6727f500.3e695c"]]},{"id":"60c6c329.ff8b7c","type":"debug","z":"a2c43a59.7e2e1","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":670,"y":300,"wires":[]},{"id":"6c71ed80.202b04","type":"postgres","z":"a2c43a59.7e2e1","postgresdb":"9f33fd0e.b00cf","name":"Savedata","output":true,"outputs":1,"x":440,"y":520,"wires":[["964e27f4.ff5a6"]]},{"id":"6727f500.3e695c","type":"json","z":"a2c43a59.7e2e1","name":"","property":"payload","action":"","pretty":true,"x":130,"y":320,"wires":[["c4ac61f1.ebaff","539e7dfb.3014cc"]]},{"id":"b2a292fa.205468","type":"debug","z":"a2c43a59.7e2e1","name":"sql insert debug","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":620,"wires":[]},{"id":"c4ac61f1.ebaff","type":"debug","z":"a2c43a59.7e2e1","name":"mqtt jason","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":440,"wires":[]},{"id":"964e27f4.ff5a6","type":"debug","z":"a2c43a59.7e2e1","name":"saveData2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":500,"wires":[]},{"id":"539e7dfb.3014cc","type":"function","z":"a2c43a59.7e2e1","name":"insert data into DB","func":"\n\n\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    \n    {\n        query:\n            'insert into public.\"DustReadings\" (\"Raw_Measured\", \"Calc_Volt\", \"dust_Den\", \"Read_Time\", \"date\") ' +\n            'values ($param1, $param2, $param3,$param4,$param5)',\n          \n        params: {\n            param1: msg.payload.RawMeasured,\n            param2: msg.payload.CalcVolt,\n            param3: msg.payload.dustDen,\n            param4: new Date().toLocaleString(\"en-US\"),\n            param5: new Date().toLocaleString(\"en-US\"),\n            \n        },\n    },\n    {\n     query: 'commit',\n    },\n    {\n        query: 'select * from public.\"DustReadings\" order by id',\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":640,"wires":[["b2a292fa.205468","6c71ed80.202b04"]]},{"id":"51e37bca.cffec4","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"time","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f33fd0e.b00cf","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"postgres","ssl":false}]