TempHumReadingflows.json
[{"id":"993a536.fb319b","type":"tab","label":"TempHumReading","disabled":false,"info":""},{"id":"ea10f184.7352e8","type":"mqtt in","z":"993a536.fb319b","name":"listent","topic":"test","qos":"0","datatype":"auto","broker":"51e37bca.cffec4","x":590,"y":180,"wires":[["ee0e3e29.f0e4f","68dc3eec.6d6a5"]]},{"id":"c4e98e90.1762c","type":"mqtt out","z":"993a536.fb319b","name":"time","topic":"test2","qos":"0","retain":"","broker":"51e37bca.cffec4","x":430,"y":180,"wires":[]},{"id":"e9afa69f.bb8b7","type":"inject","z":"993a536.fb319b","name":"","topic":"test","payload":"{\"Humidity\":60,\"Temperature_C\":23.2,\"Temperature_F\":73.76}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":180,"wires":[["c4e98e90.1762c"]]},{"id":"ee0e3e29.f0e4f","type":"debug","z":"993a536.fb319b","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":670,"y":300,"wires":[]},{"id":"a571562d.20d3d","type":"postgres","z":"993a536.fb319b","postgresdb":"9f33fd0e.b00cf","name":"Savedata","output":true,"outputs":1,"x":560,"y":540,"wires":[["e03e72b2.ea43f"]]},{"id":"68dc3eec.6d6a5","type":"json","z":"993a536.fb319b","name":"","property":"payload","action":"","pretty":true,"x":110,"y":520,"wires":[["9b1a26bb.4b1158","e1271e6e.d2094"]]},{"id":"9df95b3b.baa59","type":"debug","z":"993a536.fb319b","name":"sql insert debug","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":620,"wires":[]},{"id":"9b1a26bb.4b1158","type":"debug","z":"993a536.fb319b","name":"mqtt jason","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":520,"wires":[]},{"id":"e03e72b2.ea43f","type":"debug","z":"993a536.fb319b","name":"saveData2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":540,"wires":[]},{"id":"e1271e6e.d2094","type":"function","z":"993a536.fb319b","name":"insert data into DB","func":"msg.payload = [\n    {\n        query: 'begin',\n    },\n    \n    {\n        query:\n           // 'insert into public.TempHumReadings (hum_perc) ' +\n            'insert into public.TempHumReadings (hum_perc, temp_c, temp_f) ' +\n            'values ($param1, $param2, $param3)',\n            //'values ($param1)',\n        params: {\n            param1: msg.payload.Humidity,\n            param2: msg.payload.Temp_C,\n            param3: msg.payload.Temp_F,\n            \n        },\n    },\n    {\n     query: 'commit',\n    },\n    {\n        query: 'select * from public.TempHumReadings order by id',\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":620,"wires":[["9df95b3b.baa59","a571562d.20d3d"]]},{"id":"51e37bca.cffec4","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"time","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f33fd0e.b00cf","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"postgres","ssl":false}]